.custom1 {
    padding: -10px !important;
    margin: -0.75rem;
    background-color: rgb(199, 232, 241)
}
.screen-1{
    display: flex;
    flex-direction: column;
    background-image: url('screen-1-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1rem;
    padding: 10px 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f3f3f3;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-heading {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #005792;
    margin-top: 15px;
}
.table-container {
    display: flex;
    /* justify-content: center; */
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1rem;
    padding: 10px 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow-y: auto;
    height: 100% !important;
}
.container_Data {
    display: flex;
    gap: 20px;
}
.filter-box {
    width: 20rem;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    height: 31rem;
}
.search-box {
    margin-bottom: 10px;
}
.checkbox-list {
    max-height: 25rem !important;
    overflow-y: auto;
    padding: 1rem .5rem;
}
.checkbox-item {
    margin-bottom: 5px;
}
.button-group {
    margin-top: 23.5px;
    display: flex;
    margin-left: auto;
    gap: 10px;
}
.dropdown-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.dropdown{
    width: 20rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-group {
    display: flex;
    gap: 10px;
}