.reportee-view-container {
    padding: 8px;
}

.subordinate-item {
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.subordinate-item:hover {
    background-color: #f3f2f2;
}

.beat-item {
    border-bottom: 1px solid #e0e0e0;
}
