.container {
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

/* Filters */
.filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

/* Table Wrapper */
.table-wrapper {
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
}

/* Table */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1200px;
}

/* Header */
.custom-table thead th {
    background: #063b44;
    color: #fff;
    padding: 12px;
    text-align: left;
    font-weight: 600;
}

/* Body */
.custom-table tbody td {
    padding: 10px;
    background:#fff;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

/* Hover */
.custom-table tbody tr:hover {
    background: #f5f5f5;
}
.order-title {
    margin-right: 10px;
    text-align: left;
    font-size: 25px; /* Smaller title size */
    color: #02323e;
    font-weight: bold;
}
.StockAdjustmentactionButton{

display: inline;
margin: 5px;
float: right;
font-size: 14.5px;
background-color: #28a745;
color: white;
border: none;
/* padding: 8px; */
width: 200px;
border-radius: 4px;
cursor: pointer;
height: 33px;

}


/* Checkbox */
.checkbox-col {
    width: 40px;
    text-align: center;
}

/* UOM block */
.uom-block {
    font-size: 12px;
    line-height: 1.4;
}

/* No Data */
.no-data-cell {
    text-align: center;
    color: red;
    font-size: 16px;
    padding: 20px;
}

.filters-header {
    width: 100%;
    padding: 10px 0px;
    background: transparent;
}

.order-title-center {
    text-align: center;
    font-size: 25px;
    color: #02323e;
    font-weight: bold;
    margin: 10px 0 15px 0;
}

.filters-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
}

.filters-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}

.filters-right {
    display: flex;
    align-items: flex-end;
    padding-bottom: 4px;
}

.custom-table tr:last-child td {
border: none;
}

.custom-table tr th:nth-child(2),
.custom-table tr th:nth-child(3),
.custom-table tr th:nth-child(4),
.custom-table tr th:nth-child(5),
.custom-table tr th:nth-child(6),
.custom-table tr th:nth-child(7),
.custom-table tr th:nth-child(8),
.custom-table tr th:nth-child(9),
.custom-table tr th:nth-child(10),
.custom-table tr th:nth-child(11),
.custom-table tr th:nth-child(12),
.custom-table tr th:nth-child(13),
.custom-table tr th:nth-child(14),
.custom-table tr th:nth-child(15),
.custom-table tr th:nth-child(16),
.custom-table tr th:nth-child(17)
{
border-left: #fff 1px solid;
}