.camerahome{
    /* display: flex;
    flex-direction: row;
    gap: 10px; */
}
.CameraTask{
    border-radius: 5px;
    gap: 24px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    padding-bottom: 20px;
}
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}