.claim-row {
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #d8dde6;
    border-radius: 4px;
}
.order-title {
    margin: 0;
    text-align: left;
    font-size: 30px; /* Smaller title size */
    color: #02323e;
    font-weight: bold;
}
.orders {
    z-index: 2;
    top: 100px;
    padding-bottom: 20px;
    color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--root-bg-linear-gradient), var(--root-bg-image);
    }
.order-head {
    margin: 20px 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
        
.order-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Reduced gap for compact layout */
 }
 .actionButton{

    display: inline;
    margin: 5px;
    float: right;
    font-size: 14.5px;
    background-color: #28a745;
    color: white;
    border: none;
    /* padding: 8px; */
    width: 122px;
    border-radius: 4px;
    cursor: pointer;
    height: 33px;
    
}
.actionButton1{
    display: inline;
    margin: 5px;
    float: right;
    font-size: 14.5px;
    background-color: white;
    color: black;
    border: none;
    /* padding: 8px; */
    width: 122px;
    border-radius: 4px;
    cursor: pointer;
    height: 33px;

}
.contacts-table {
    width: 90%;
  
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border: 1px solid #ccc;
   /* overflow: hidden;*/
    background-color: #fff;
}

.highlight-error {
    border: 1px solid red;
    background-color: #f8d7da; /* Light red background */
    border-radius: 5px;
}