/* .dropdowns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dropdown{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px; 
    overflow: hidden;
}
.dropdown-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f8fa;
    padding: 5px 15px;
    cursor: pointer;
}
.dropdown-head-left {
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
} */
.screen-1{
    border-radius: 5px;
    /* margin-right: 10px;
    margin-left: 10px; */
    display: flex;
    flex-direction: column;
    background-image: url('screen-1-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* @media screen and (max-width: 767px) {
    .screen-1 {
        padding: 1rem;
    }
} */
.route{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}
.dropdown-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f8fa;
    padding: 5px 15px;
    cursor: pointer;
}
.dropdown-head-left {
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.dropdown-head-title{
    font-size: 14px;
    font-weight: 550;
    color: #545454;
}
.expenses-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    gap: 50px;
    /* margin-bottom: 10px; */
}
.expenses-col-1{
    color: #2F5597;
    min-width: 40px;
}