.custom1 {
    padding: -10px !important;
    margin: -0.75rem;
    background-color: rgb(199, 232, 241)
}
.screen-1{
    display: flex; 
    flex-direction: column;
    background-image: url('screen-1-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.custom-container{
	color : black;
}
.filters {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    /* Allow wrapping on smaller screens */
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    cursor: pointer;
}
.red{
  --slds-g-color-neutral-base-50: red;
}
.green{
  --slds-g-color-neutral-base-50: green  !important; /* Icon color */
}