.custom1 {
    background-color: rgb(199, 232, 241)
}

  /* Apply margin only for desktop screens (min-width: 768px) */
@media screen and (min-width: 768px) {
    .custom1 {
        margin: -0.75rem;
    }
}
.screen-1{
    display: flex;
    flex-direction: column;
    background-image: url('screen-1-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    min-height: 100vh; 
    overflow-x: hidden; 
    overflow-y: auto;
    scrollbar-width: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(199, 232, 241);
}

.screenWithOutHeight{
    display: flex;
    flex-direction: column;
    background-image: url('screen-1-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    min-height: 100vh; 
    overflow-x: hidden; 
    overflow-y: auto;
    scrollbar-width: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(199, 232, 241);
}

@media only screen and (max-width: 768px) {
    .slds-modal__header {
        position: sticky;
        top: 0;
        z-index: 10;
        background: #ffffff;
    }
}

.slds-modal__content {
    height: auto;
    overflow-y: auto;   /* make body scrollable */
    -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}
.dailylogPopup{
    height: auto;
}
@media screen and (max-width: 767px) {
    .screen-1 {
        padding: 5px;
        height: 100vh;
 
    }
    .screenWithOutHeight
    {
        padding: 5px;
    }
    .dailylogPopup{
        min-height: 100vh;
        overflow-x: hidden; 
        overflow-y: auto;
    }
}
.slds-col {
    padding-left: 0px;
}


h4, h6, body{
    margin: 0;
}
.screen-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #b8dffb;
}
.screen-bar-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.screen-bar-title{
    font-weight: 400;
    font-size: 20px;
}
.screen-bar-nav-icon{
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}
.screen-bar-refresh-icon{
    background-color: #2f5597;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
}
.navbar{
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 8px;/*25px;*/
    position: relative;
}
.navBarSpace{
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 10px 25px;
    position: relative;
}
.header{
    font-size: 16px;
    font-weight: 500;
}

.nav-title{
    color: #fff;
    background-color: #2f5597;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
}
@media screen and (max-width : 600px)
{
  .nav-title{
    font-size: 14px;
  }
  .header{
    font-size: 14px;
    font-weight: 500;
}
}
.menu-open, .menu-close{
    cursor: pointer;
}
.nav-menu{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    /* width: 100%; */
    width: 50%;
    padding: 10px 20px;
    flex-direction: column;
    background-color: #fff;
    color: #404040;
    font-weight: 400;
    /* display: none; */
    left: -120%;
    transition: 0.3s ease-out;
    box-shadow: -1px 0 11px rgba(0, 0, 0, 0.2);
}
.menu-head, .menu-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    /* cursor: pointer; */
}
.menu-head{
    margin-bottom: 20px;
}
.menu-title{
    font-weight: 500;
    margin-left: 10px;
}
.menu-icon{
    scale: 0.9;
}
.screen-1-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
}
.search-bar-icon{
    scale: 0.8;
    color: #adadad;
}
.search-bar-input{
    all: unset;
    margin-left: 5px;
    color: #adadad;
    font-size: 14px;
}

.pointers .material-icons{
    cursor: pointer;
}
.menu-items.selected {
    background-color: rgb(240, 240, 240); /* Highlight color for the selected menu */
}
.customRefreshColor{
    background-color: var(--slds-c-icon-color-background, var(--sds-c-icon-color-background,  rgb(47, 85, 151)));

}
.fieldWidth{
    width: 100%;
}

.topPadding{
    padding-bottom: .5rem;
    display: flex;
    flex-direction: row;
}
.spaceMargin{
    margin-right: 1rem;
}
@media screen and (max-width: 767px) {
    .mobile-header h2 {
        font-size: 1rem; /* or smaller like 0.875rem */
    }
    .mobile-header h1 {
        font-size: 1rem; /* or smaller like 0.875rem */
    }
}
.mobile-button lightning-button button {
    font-size: 0.75rem;
}