.slds-modal__container{
    width: 85% !important;
    max-width: 90% !important;
}
.slds-modal__content{
         min-height: 200px;
}

/* Mobile-Specific Styles */
@media screen and (max-width: 768px) {
    .slds-modal__container {
        width: 95% !important; /* Full width for mobile */
        max-width: 100% !important;
        height: Auto; /* Increase height for mobile */
    }
  
    
    .slds-modal__content {
        min-height: 95vh !important; /* Utilize more space */
        max-height: 100vh !important;
        overflow-y: auto !important;
    }
}
