.custom1 {
    overflow: hidden;
    background-color: rgb(199, 232, 241);
}

/* Apply margin only for desktop screens (min-width: 768px) */
@media screen and (min-width: 768px) {
    .custom1 {
        margin: -0.75rem;
    }
}

.screen-1 {
display: flex;
flex-direction: column;
background-image: url('screen-1-bg.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
min-height: 100vh; /* Ensure the background covers at least the full viewport height */
overflow-y: auto; /* Allow scrolling if content exceeds the screen */
overflow-x: hidden; /* Allow scrolling if content exceeds the screen */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(199, 232, 241); /* Same as .custom1 to prevent Salesforce theme */
}

.home{
padding: 10px;
}

.screen2{
background-color: rgb(199, 232, 241);

}
@media screen and (max-width: 767px) {
    .screen2 {
        padding-top:5px;
    }
    .home{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    }
}
.navbar{
margin-bottom: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgb(243,243,243);
padding: 10px 10px;
position: relative;
border-radius: 5px;
cursor: pointer;
}



.header{
font-size: 16px;
font-weight: 500;
}

.dropdowns{
display: flex;
flex-direction: column;
gap: 10px;
}
.filters
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px; 
    overflow: visible;
}
.dropdown{
display: flex;
flex-direction: column;
background-color: #fff;
border-radius: 5px; 
overflow: hidden;
}
.dropdown-head{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: #f6f8fa;
padding: 5px 15px;
cursor: pointer;
/* gap: 10px; */
}
.dropdown-head-left {
flex-direction: row;
display: flex;
align-items: center;
flex-direction: row;
gap: 10px;
}
.dropdown-head-right {
flex-direction: row;
display: flex;
align-items: center;
flex-direction: row;
gap: 20px; 
}

.dropdown-head-title{
font-size: 14px;
font-weight: 550;
color: #545454;
}
.dropdown-head-nav-icon{
padding: 5px;
}
.dropdown-body{
max-height: 0;
overflow: hidden;
transition: 0.3s ease-out;
/* transition: 0.3s ease-out; */
}
.dropdown-body.active {
transition:  0.4s ease-in;
max-height: 500px; /* Adjust to a suitable height */
}
.dropdown-body-pyt{
max-height: 0;
overflow: hidden;
transition: 0.3s ease-out;
/* transition: 0.3s ease-out; */
}

.dropdown-body-pyt.active {
transition:  0.4s ease-in;
max-height: 500px; /* Adjust to a suitable height */
}

.invert-image {
filter: brightness(0) invert(1);
} 
.checkColor {
--slds-c-icon-color-foreground-default: rgb(80, 179, 53);
}
.cloclColor {
--slds-c-icon-color-foreground-default: rgb(252, 223, 94);
}


.dropdown-table{
width: 100%;
font-size: 12px;
text-align: left;
padding: 15px 25px 25px 25px;
border: none;
border-spacing: 0px;
}
th{
font-weight: 450;
font-size: 14px;
padding: 10px 0;
}
td{
padding: 5px 0;
}
.dropdown-table tr:nth-child(1) th{
border-bottom: 1px solid #CECECE;
}
.dropdown-table tr:nth-child(2) td{
padding-top: 10px;
}
.dropdown-table th:nth-child(1), .dropdown-table td:nth-child(1){
width: 33.33%;
}
.nav-title{
    color: #fff;
    background-color: #2f5597;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
}
.menu-open, .menu-close{
    cursor: pointer;
}
@media screen and (max-width: 767px) {
.expense-detailed-container.modal-blur {
    filter: blur(0.5px); /* Blurs only this section */
    pointer-events: none; /* Prevents interaction while blurred */
}
.expense-detailed-container.modal-blur::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent overlay */
    border-radius: 5px; /* Optional: Adjust based on your design */
}
}
/* Modal Containers**/
.slds-modal__container {
    overflow: hidden;
    width: 40rem;
    max-width: 100%;
}
@media (max-width: 768px) {
    .slds-modal__container {
        width: 90%; 
        margin: 0 auto;
        border-radius: 0.5rem; 
    }
}
.slds-modal__header {
    justify-content: space-between;
}
@media (max-width: 768px) {
.small-modal-title {
    font-size: 18px; 
    font-weight: bold;
}
}
.slds-modal__content {
    padding: 1rem;
}
.centeralign{
    text-align: center;
}
.slds-modal__footer {
    display: flex;
    justify-content: flex-end;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Darkens the background */
    z-index: 999;
}
.missed-icon {
    --slds-c-icon-color-foreground-default: rgb(255, 51, 51);
}
.completed-icon {
    --slds-c-icon-color-foreground-default: rgb(80, 179, 53);
}
.cloclColor {
    --slds-c-icon-color-foreground-default: rgb(249, 133, 1) ;
}
.planned-icon {
    --slds-c-icon-color-foreground-default: rgb(27,150,255);
}