.slds-modal__close {
    z-index: 10; /* Ensure it's above other elements */
}
.slds-button__icon {
    display: flex;
    justify-content: center; 
    align-items: center;   
}

@media only screen and (max-width: 768px) {
    .slds-modal__header {
        position: sticky;
        top: 0;
        z-index: 10;
        background: #ffffff;
    }
}

/* Modal content adjustments */
.slds-modal__content {
    height: auto;
    max-height: none;
    min-height: auto;
    overflow-y: auto;   /* make body scrollable */
-webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}
@media screen and (max-width: 768px) {
    .slds-modal__content {
        min-height: 100vh;
        height: auto;
        overflow-y: auto;
        max-height: Auto;
    }
    .mobile-header h1 {
        font-size: 1rem; /* or smaller like 0.875rem */
    }
}
.CompleteHeight{
    height: 100% !important; 
}


.mobile-button lightning-button button {
    font-size: 0.75rem;
}